@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click the <a asp-controller="Movies" asp-action="Index">Movie App</a> tab in the Nav bar to start.</p>
</div>
